<table class="tbTransparentmb"><tr><td>{$user_logging}</td></tr></table>

<table class="tbTransparent">
<tr>
<td class="tbTransparentCell"><span class="views txtSm">( {$l_forums} | <span class="author">{$l_num_topics}</span> | <span class="latest">{$l_replies}</span> )</span></td>
</tr>
</table>

<table class="forums">

{$list_forums}

<tr>
<td style="width:25px;"><img src="{$main_url}/img/p.gif" style="width:25px;height:1px" alt="" /></td>
<td style="width:90%"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
<td style="width:5%;"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
<td style="width:5%;"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
</tr>

</table>