<table class="tbTransparent"><tr><td>{$user_logging}</td></tr></table>

<table class="forumsmb">
<tr>

<td style="width:75%;vertical-align:top">

<table style="width:100%">
<tr>
<td class="tbTransparent txtL" style="width:50%;padding-bottom:5pt"><h1 class="headingTitle">{$l_lastDiscussions}</h1><span class="views txtSm">( {$l_topic} | {$l_forum} | <span class="replies">{$l_replies}</span> | <span class="replies">{$l_views}</span> | <span class="author">{$l_author}</span> | <span class="latest">{$l_lastAuthor}</span> )</span></td>
<td class="tbTransparent txtR" style="width:50%;vertical-align:bottom;white-space:nowrap;padding-bottom:5pt"><span class="txtSm">{$l_sortedBy}&nbsp;{$sortedByT}.&nbsp;<a href="{$main_url}/{$indexphp}sortBy={$sortByNew}">{$l_sortBy}&nbsp;{$sortByT}</a></span></td>
</tr>
</table>

<table class="forumCol">
{$listTopics}

<tr>
<td><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
<td style="width:70%"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
<td style="width:40px;"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
<td style="width:15%;"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
<td style="width:15%;"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
</tr>

</table>

</td>

<td style="width:25%;vertical-align:top;padding-left:5pt;padding-top:26pt">

<table class="forumCol">
{$list_forums}
</table>

</td>

</tr></table>


