<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$title}</title>
<meta name="ROBOTS" content="{$metaRobots}" />
{$l_meta}
<!--<meta http-equiv="content-type" content="text/html;charset=utf-8">-->
<meta name="Description" content="{$description}" /> 
<meta name="Document-state" content="Dynamic" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<link href="{$main_url}/bb_{$skin}_style.css" type="text/css" rel="STYLESHEET" />
</head>
<body class="gbody">

<table style="width:100%;padding:0px;margin:0px;border-collapse:collapse">

<tr><td style="background-image:url({$main_url}/img/menubg.jpg);background-repeat:repeat-x">

<table class="forumsmb">
<tr class="tbHead">
<td class="capMenu">&nbsp;{$l_sepr}&nbsp;{$l_menu[0]}{$l_menu[2]}{$l_menu[5]}{$l_menu[7]}{$l_menu[1]}{$l_menu[3]}<!--{$l_menu[4]}-->{$l_menu[6]}</td>
<td style="width:30%;background-image:url({$main_url}/img/menubg.jpg);background-repeat:repeat-x"><img src="{$main_url}/img/p.gif" style="width:1px;height:20px" alt="" /></td>
</tr>
</table>

</td></tr></table>