<table class="forumsmb">
<tr valign="top">
<td class="pauthor" style="width:50%"><span class="username"><a href="JavaScript:paste_strinL('{$posterNameJs}',2)">{$posterName}</a><br /></span><span class="txtSm">{$viewReg}</span></td>
<td class="txtR noWrap pauthor" style="width:50%"><div class="txtSm"><a name="msg{$cols[6]}" href="#msg{$cols[6]}" class="txtSm">#{$anchor2}</a> {$l_sepr} {$l_posted}: {$postDate}{$editedBy}{$viewIP}<br />{$eachReply}<script type="text/javascript">getQuotation('{$posterNameJs}');</script>{$allowed}{$moveLink}</div></td>
</tr>
<tr valign="top" class="tbCel1">
<td class="caption1" colspan="2"><div class="postedText">{$posterText}</div>{$deleteBox}</td>
</tr>
</table>
