<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="language" content="hu" />

  <meta name="copyright" content="www.petborze.hu" />
  <meta name="Author" content="NextServer" />

  <meta name="googlebot" content="index, follow, archive" />
  <meta name="robots" content="all, index, follow" />
  <meta name="msnbot" content="all, index, follow" />

  <meta name="rating" content="general" />
  <meta name="resource-type" content="document" />
  <meta name="distribution" content="Global" />
  <meta name="revisit-after" content="1 day" />

  <meta name="page-type" content="Ingatlan" />
  <meta name="subject" content="ingatlan adás, vétel hirdetés" />
  <meta name="description" content="Ingatlan hirdetés, és böngészés videókkal és képekkel. Hirdesse lakását biztonságosan és jutalékmentesen." />
  <meta name="keywords" content="Kutya, Macska, Rágcsáló, Madár, Hal, hüllő, Ló, Egyéb, Újszülött, 1 éves, 1-5 éves, 5-10 éves, 10-20 éves, hirdetés, videók, képek, jutalék nélkül" />


  <title>{$title}</title>
  <!--<meta name="ROBOTS" content="{$metaRobots}" />-->
  {$l_meta}
  <!--<meta http-equiv="content-type" content="text/html;charset=utf-8">-->
  <!--<meta name="Description" content="{$description}" /> -->
  <meta name="Document-state" content="Dynamic" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <link href="{$main_url}/bb_{$skin}_style.css" type="text/css" rel="STYLESHEET" />


  <link href="../default_images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link href="../default_images/favicon.ico" rel="icon" type="image/x-icon" />

  <link rel="stylesheet" type="text/css" href="../main.css" />
  
  <link rel="stylesheet" type="text/css" href="../mezo.css" />

  <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="../main_lte_ie6.css" />
  <![endif]-->
  <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="../main_lte_ie7.css" />
  <![endif]-->
<style type="text/css">
<!--

#body {
float: none;
clear: both;
}

.gbody a:link, .gbody a:visited {
color: #003a66;
}
.gbody a:hover {
text-decoration: underline;
}

.gbody .txtSm a:hover, .tbStBar a:hover, td.capMenu a:hover
background:#003A66 none repeat scroll 0%;
color:#FFFFFF;
text-decoration:none;
}
.gbody .txtSm a:link, .txtSm a:active, .txtSm a:visited
color:#00365F;
}

-->
</style>

</head>
<body>
<!--<no script>Az oldal teljeskörű használatához, javascript engedélyezése szükséges!</no script>-->

  <div id="container_frame">
  <div id="container">
    
    <div id="head">
      <div id="left_head">
        <a id="logo" href="index.php"> </a>
      </div>
      
      <div id="right_head">
        <div id="banner"><div></div></div>
        
        <div id="top_menu"><div><div>
          <a class="top_menu_item" href="../index.php">
            <img src="../default_images/menu_fooldal.png" alt="F&#337;oldal" />
          </a>
          <a class="top_menu_item" href="../rolunk.php">
            <img src="../default_images/menu_rolunk.png" alt="R&#243;lunk" />
          </a>
          <a class="top_menu_item" href="../utmutato.php">
            <img src="../default_images/menu_utmutato.png" alt="&#218;tmutat&#243;" />
          </a>
          <a class="top_menu_item" href="../arak.php">
            <img src="../default_images/menu_arak.png" alt="&#193;rak" />
          </a>
          <a class="top_menu_item" href="../kapcsolat.php">
            <img src="../default_images/menu_kapcsolat.png" alt="Kapcsolat" />
          </a>
          <a class="top_menu_item" href="../forum/">
            <img src="../default_images/menu_forum.png" alt="F&#243;rum" />
          </a>
          <a class="top_menu_item top_menu_item_high" href="../belepes.php">
            <img src="../default_images/menu_belepes.png" alt="Bel&#233;pés" />
          </a>
        </div></div></div>
      </div>
      
    </div><!--/head-->
    
    <div id="body" class="gbody">


<table style="width:100%;padding:0px;margin:0px;border-collapse:collapse">

<tr><td style="background-image:url({$main_url}/img/menubg.jpg);background-repeat:repeat-x">

<table class="forumsmb">
<tr class="tbHead">
<td class="capMenu">&nbsp;{$l_sepr}&nbsp;{$l_menu[0]}{$l_menu[2]}{$l_menu[5]}{$l_menu[7]}{$l_menu[1]}{$l_menu[3]}<!--{$l_menu[4]}-->{$l_menu[6]}</td>
<td style="width:30%;background-image:url({$main_url}/img/menubg.jpg);background-repeat:repeat-x"><img src="{$main_url}/img/p.gif" style="width:1px;height:20px" alt="" /></td>
</tr>
</table>

</td></tr></table>
