/* petborze.hu
 * alap stylesheet
 * 
 */

/* master reset */
* {/*width:auto;height:auto;*/margin:0;padding:0;background-repeat:no-repeat;background-position:center center;list-style:outside none none;}

/* main */
html {
overflow-y: scroll;
}

html, body {
text-align: center;
}

#container {
width: 990px;
margin: 0 auto;
text-align: left;
}

#container_frame {
width: 100%;
margin: 0;
}

a:link, a:visited {

}
a:hover {

}
a img {

}

/* head */
#head {
clear: both;
height: 200px;
}

#left_head {
float: left;
width: 220px;
}

#logo {
display: block;
width: 220px;
height: 109px;

margin: 20px 0 0 0;
cursor: pointer;
}

#right_head {
float: left;
width: 770px;
}

#banner {
width: 770px;
height: 150px;

}

#top_menu {
width: 755px;

margin: 0;
}
#top_menu div {

}
#top_menu div div {
height: 35px;

margin: 0;
padding: 0 0 0 55px;
}

.top_menu_item {
display: block;
float: left;
width: 85px;
height: 20px;

margin: 3px 0 0 0;
text-align: center;
cursor: pointer;

padding: 3px 0 5px 0;
}

.top_menu_item:link, .top_menu_item:visited {

}

.top_menu_item:hover {

}

.top_menu_item_high:link, .top_menu_item_high:visited {

}

.top_menu_item_high:hover {

}

/* body */
#body {
float: left;
}

#left_bar {
float: left;
width: 196px;
padding: 20px 10px 10px 10px;
}

#corner_button {
width: 200px;
height: 40px;
text-align: left;
margin: 0 0 20px 0;
}

#corner_button a {
display: block;
width: 200px;
height: 40px;

cursor: pointer;
}
#corner_button a:hover {

}

#left_bar h2 {
padding: 0 0 0 15px;
margin: 0 0 10px 0;
}

#left_bar ul {
margin: 0 0 18px 0;
}

#left_bar ul li {
margin: 0 0 6px 10px;
}

.adminlink:link, .adminlink:visited {

}

#content_frame {
float: left;
width: 590px;
padding: 0 0 0 10px;
margin: 20px 0 0 0;
}

#content_head {
float: left;
height: 28px;
}

#content_title {
float: left;
width: 430px;

}

#content_title span {

}

#content_title_right {
float: left;
width: 160px;

text-align: right;
padding: 10px 0 0 0;
}

#content_title_right a:link, #content_title_right a:visited {

}

#content {
clear: both;
width: 590px;

float: left;
}

#content_foot {
float: left;
width: 590px;
height: 32px;
margin: 8px 0 30px 0;
padding: 7px 0 0 0;
text-align: center;
}

.content_foot_loader {

}

.content_foot_loader_stopped {

}

#right_bar_frame {
float: left;
width: 150px;
padding: 0 0 30px 20px;
margin: 10px 0 0 0;
}

#right_bar_title {
height: 50px;

text-align: center;
padding-right: 10px;
}

#right_bar_title a:link, #right_bar_title a:visited {

}
#right_bar_title a:hover {

}

#right_bar {
width: 140px;

}

/* foot */
#foot {
clear: both;
height: 25px;

padding: 0 0 5px 0;
}

#copy {
float: left;
width: 685px;
margin: 10px 0 0 0;
padding: 0 0 0 15px;
}

#stilusvalto {
float: left;
width: 275px;
margin: 10px 0 0 0;
padding: 0 15px 0 0;
text-align: right;
}

#print {
float: left;
width: 120px;
height: 26px;

padding: 15px 0 0 50px;
margin: 9px 20px 0 0;
cursor: pointer;
}

#mail {
float: left;
width: 50px;
height: 26px;

padding: 15px 0 0 45px;
margin: 9px 0 0 0;
cursor: pointer;
}

/* register */
.reg_row {
float: left;
width: 570px;
padding: 13px 10px 13px 10px;

}
.reg_row_alt {

}

.reg_row h3 {
margin: 0 0 15px 0;
}

.reg_col_left {
float: left;
padding: 0 10px 0 0;
width: 120px;
}
.reg_col_left_row {
height: 27px;
padding: 3px 0 0 0;
text-align: right;
}

.reg_col_right {
float: left;
width: 400px;
}
.reg_col_right_row {
height: 30px;
}

.reg_col_right_row select option {
padding: 1px 5px 1px 1px;

}
.reg_col_right_row input {
padding: 2px;
width: 250px;
}

.reg_textarea {
height: 100px;
}
.reg_textarea textarea {
width: 250px;
height: 80px;
padding: 5px 2px 5px 2px;
}

.reg_error_text {

}

/* kereses */
.search_col_right_row {
height: 30px;
}

.search_col_right_row select option {
padding: 1px 5px 1px 1px;

}
.search_col_right_row input {
padding: 2px;
width: 120px;
}

/* admin */
.admin_col1 {
overflow: hidden;
float: left;
width: 130px;
padding: 0 5px 0 5px;
}
.admin_col2 {
overflow: hidden;
float: left;
width: 70px;
}

.admin_col3 {
overflow: hidden;
float: left;
width: 60px;
}

.admin_col4 {
overflow: hidden;
float: left;
width: 280px;
padding: 0 15px 0 5px;
}
.admin_col4 strong {

}

.admin_col5 {
overflow: hidden;
float: left;
width: 100px;
}

.admin_col6 {
overflow: hidden;
float: left;
width: 90px;
}

.admin_col7{
overflow: hidden;
float: left;
width: 210px;
}

.admin_row_pic {
width: 120px;
height: auto;
margin: 25px 0px 5px 0px;
}

.admin_thumbnails {
padding: 20px 0;
}

.admin_thumbnails img {

}


/* video list */
.video_row {
clear: both;
width: 570px;
width: 550px;
width: auto;
height: 80px;
padding: 13px 10px 13px 10px;

}
.video_row_alt {

}

.video_row_pic {
float: left;
width: 120px;
height: auto;
height: 80px;
margin: 0 15px 0 0;
cursor: pointer;
}

.video_row_data {
float: left;
width: 415px;

}

.video_row_title {
width: 415px;
height: 40px;

}

.video_row_info1 {
float: left;
width: 135px;
}

.video_row_info1 p {

margin: 0 0 4px 0;

}

.video_row_info2 {
float: left;
width: 150px;
}

.video_row_info2 p {

margin: 0 0 4px 0;

}

.video_row_buttons {
float: left;
width: 124px;
padding: 4px 0 0 0;
}

.video_row_quick_add {
float: left;
width: 32px;
height: 32px;

cursor: pointer;
margin: 0 1px 0 0;
}

.video_row_quick_remove {
float: left;
width: 32px;
height: 32px;

cursor: pointer;
margin: 0 1px 0 0;
}

.video_row_play {
float: left;
width: 90px;
height: 32px;

cursor: pointer;
margin: 0 0 0 1px;
}

/* home */
#pager_frame_right {
color: #696969;
text-align: right;
display: inherit !important;

display: inline-block;
}

#pager_frame_right #pager {
display: table;
margin: 0 0 0 auto;
white-space: nowrap;
}

.home_fade {
position: absolute;
}

.home_content {
height: 500px;/*3 hirdetés (320) + 3*20 margin */
}

#home_scroll {
height: 500px;
overflow: auto;
}

/* pager */
#pager_frame {

text-align: center;
display: inherit !important;

display: inline-block;
}

#pager_frame #pager {
display: table;
margin: 0 auto;
white-space: nowrap;
}

#pager_first {
float: left;
width: 22px;
height: 20px;

cursor: pointer;
margin: 0 5px 0 5px;
display: table-cell;
}

#pager_minus {
float: left;
width: 22px;
height: 20px;

cursor: pointer;
margin: 0 5px 0 5px;
display: table-cell;
}

#pager_plus {
float: left;
width: 22px;
height: 20px;

cursor: pointer;
margin: 0 5px 0 5px;
display: table-cell;
}

#pager_last {
float: left;
width: 22px;
height: 20px;

cursor: pointer;
margin: 0 5px 0 5px;
display: table-cell;
}

.pager_num {
float: left;
width: 35px;
height: 18px;
text-align: center;
cursor: pointer;
padding: 2px 0 0 0;
display: table-cell;

}

.pager_num a:link, .pager_num a:visited {

}
.pager_num a:hover {

}

.pager_num:hover {

}

.pager_num_active {
float: left;
width: 35px;
height: 18px;
text-align: center;
cursor: pointer;
padding: 2px 0 0 0;
display: table-cell;

}

/* quick list */
.qlist_row {
width: 120px;

padding: 10px;
}

.qlist_row_pic {
width: 120px;
height: 80px;
margin: 0 0 4px 0;
cursor: pointer;
}

.qlist_row_title {

}

.qlist_row_buttons {
clear: both;
width: 120px;
height: 22px;
padding: 4px 0 0 0;
}

.qlist_row_remove {
float: left;
width: 22px;
height: 22px;

cursor: pointer;
margin: 0 2px 0 0;
}

.qlist_row_play {
float: left;
width: 22px;
height: 22px;

cursor: pointer;
margin: 0 0 0 1px;
}

/* video box */
#dark_overlay {
clear: both;
width: 100%;
margin: 0;
height: 100%;

position: absolute;
/*position: fixed;*/
top: 0px;
left: 0px;
z-index: 27;
}

#video_box_frame {
width: 100%;
position: absolute;
/*position: fixed;*/
z-index: 31;
top: 10px;
left: 0px;
text-align: center;
}

#video_box_outer1 {
width: 900px;

position: relative;
margin: 0 auto;
padding: 0;
text-align: left;
}
#video_box_outer2 {
margin: 0;
padding: 0;
}
#video_box_outer3 {
margin: 0;
padding: 0;
}
#video_box_outer4 {
margin: 0;
padding: 0;
}

#video_box_inner {
width: 900px;
float: left;
padding: 0px;

}

#video_box_top {
clear: both;
width: 880px;
height: 30px;
text-align: right;

padding: 20px 10px;
}

#video_box_content {
width: 900px;
float: left;
margin: 0;
padding: 0;
}
#video_box_left {
float: left;
width: 150px;
padding: 10px 10px 10px 20px;
}
#video_box_left h2 {
margin: 0 0 10px 0;

}

#video_box_pictures{
max-height: 400px;
height: 400px;/*kb ennyit ugyis lefoglal*/
overflow: auto;
}
#video_box_pictures img {
margin: 0 0 15px 0;
}

#video_box_center {
float: left;
width: 500px;
padding: 10px 10px 10px 10px;
}
#video_box_center h2 {
margin: 0 0 10px 0;

}
#video_box_right {
float: left;
width: 180px;
padding: 10px 10px 10px 10px;
}
#video_box_right h2 {
margin: 0 0 10px 0;

}

#player {
width: 470px;
height: 320px;
padding: 0 15px 0 15px;

}

#ply {
width: 470px;
height: 320px;
}

#video_box_data {
padding: 15px;

}

#video_box_data h3 {
margin: 0 0 10px 0;
}

.video_box_data_gray {

}

#video_box_bottom {
clear: both;
width: 880px;
height: 25px;
text-align: right;

padding: 5px 10px 0px 10px;
}

#video_box_send_link {
float: left;
width: 440px;
height: 20px;
text-align: left;
}

#send_to_friend_error {

}

#send_to_friend_email {
width: 200px;
}

#video_box_print {
float: left;
width: 440px;
height: 20px;
text-align: right;
}

#video_box_print a:link, #video_box_print a:visited {

}
#video_box_print a:hover {

}

#video_box_logo {
float: left;
height: 30px;
width: 760px;
}

#video_box_close {
float: left;
width: 90px;
height: 18px;
cursor: pointer;

padding: 4px 30px 0 0;
}

/* other */
.toggler {

cursor: pointer;
}
.toggler:hover {

}

#szabalyzat {
height: 200px;
overflow: auto;
cursor: text;

margin: 2px 0 35px 0;
padding: 10px;
}

#reg_submit {
padding: 5px;

cursor: pointer;
}

.admin_link:link, .admin_link:visited {

}
.admin_link:hover {

}

.login_select_submit {
float: left;
width: 90px;
height: 32px;
cursor: pointer;
margin: 0 0 0 1px;
}

.kapcsolat_doboz {
width: 590px;
/*width: 450px;*/
margin: 0 auto;
}

.rolunk p, .utmutato p {

margin: 10px 10px 20px 5px;

}

input.rand_button {
width: auto;
height: 28px;
padding: 5px;
margin: 0;
}

.elvalaszto {

width: 150px;
height: 5px;
}

.request_center {
padding: 0;
}

.request_center_report {

margin: 0 0 10px 0;
}

.request_form {
display: inline;
}

.giant_request_button {

width: 250px;
padding: 15px 0;
margin: 0 15px;
cursor: pointer;

}

.stat_center {
padding: 0 0 20px 0;
}

.stat_ev_select option {
padding-right: 5px;
}

.stat_honap_select option {
padding-right: 5px;
}

.right_banner {
width: 140px;
overflow: hidden;
text-align: center;
padding: 0 0 20px 0;
}

/* események */
.event_status_select {
padding: 0;
font-size: 11px;

width: 90px;
}

.event_status_select option {
padding: 0;
}

.event_status_select option:hover {
padding-left: 0;
}

.event_status0 {

}

.event_status1 {

}

.event_status2 {

}

.event_priority0 {

}
.event_priority1 {

}
.event_priority2 {

}
.event_priority3 {

}


/* EOF */